.color-initial {
    color: #fff !important;
}
.color-primary {
    color:  #2196f3 !important;
}

.color-secondary {
    color: #455a64 !important;
}
.color-tertiary {
    color:  #e3f2fd !important;
}

.color-quarternary {
    color: #bbdefb !important;
}
.color-quinary {
    color: #90caf9 !important;
}